@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacidade";
}

<h1>@ViewData["Title"]</h1>

<h3>Nossa Política de Privacidade</h3>
<p>
    Aqui na HQsWebApp, levamos a privacidade dos nossos visitantes e clientes muito a sério. Nossa política de privacidade detalha o tipo de informações pessoais que são coletadas e registradas pelo nosso site e como as usamos.
</p>

<h3>Coleta de Informações</h3>
<p>
    [Nome da Sua Empresa] garante que qualquer informação pessoal fornecida pelos visitantes do nosso site será tratada com a devida confidencialidade. Essas informações são usadas para melhorar a experiência do usuário e para nos ajudar a fornecer um serviço melhor e mais personalizado.
</p>

<h3>Uso de Cookies</h3>
<p>
    O nosso site utiliza cookies para fornecer uma experiência mais personalizada e para entender como os visitantes usam o site. Esses cookies podem incluir informações como o seu endereço IP, o seu tipo de navegador, o seu provedor de serviços de Internet, páginas visitadas em nosso site e outras estatísticas.
</p>

<h3>Compartilhamento de Informações</h3>
<p>
    HQsWebApp não compartilha, vende ou aluga suas informações pessoais a terceiros, a menos que seja necessário para atender a solicitações do usuário ou por exigência da lei.
</p>

<h3>Atualizações na Política de Privacidade</h3>
<p>
    Qualquer alteração na nossa política de privacidade será devidamente atualizada nesta página.
</p>
