@page
@model AboutUsModel
@{
    ViewData["Title"] = "Quem Somos";
}

<text>@{
    Response.ContentType = "text/html; charset=utf-8";
}</text>

<h1>@ViewData["Title"]</h1>

<h3>Sobre nós</h3>
<p>
    Seja bem-vindo à nossa loja especializada em histórias em quadrinhos! Aqui, na nossa empresa, somos apaixonados por contar histórias e trazer entretenimento por meio das páginas dessas incríveis obras de arte.
</p>

<h3>Nossos Valores</h3>
<p>
    Fundada por entusiastas dos quadrinhos, nossa loja é um lugar onde fãs, colecionadores e curiosos podem encontrar uma ampla variedade de títulos. Desde os clássicos consagrados até os lançamentos mais recentes, temos algo para todos os gostos.
</p>

<h3>Um Pouco Mais Sobre o Conteúdo</h3>
<p>
    Nosso compromisso é oferecer qualidade e diversidade. Trabalhamos incansavelmente para garantir uma seleção diversificada e de alta qualidade de HQs e mangás. Cada título foi cuidadosamente selecionado para garantir que atenda tanto aos fãs mais ávidos quanto àqueles que estão apenas começando a explorar esse incrível universo.
</p>

<img src="~/img01.png" alt="Imagem Representativa">

<p>
    Seja imerso no mundo dos super-heróis, viaje por universos fictícios, descubra narrativas cativantes ou mergulhe nas profundezas de tramas misteriosas. Nossa equipe está aqui para ajudá-lo a encontrar exatamente o que procura, seja para iniciar sua coleção, encontrar uma edição rara ou simplesmente desfrutar de uma boa leitura.
</p>

<p>
    Além de oferecer uma vasta gama de títulos, buscamos proporcionar uma experiência completa. A atmosfera acolhedora e o conhecimento dos nossos funcionários garantem que você se sinta em casa e encontre exatamente o que procura.
</p>

<p>
    Convidamos você a visitar nossa loja para explorar, descobrir e se encantar com o vasto mundo dos quadrinhos e mangás. Estamos entusiasmados para compartilhar nossa paixão por essas histórias incríveis e ajudá-lo a encontrar sua próxima aventura favorita.
</p>